<div class="row">
  <%= simple_form_for task do |f| %>
    <div class="row">
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :due_date, as: :string, input_html: { type: 'date', class: 'datepicker' } %>
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
