<div class="col s12 m12">
  <%= content_tag :ul, class: 'tasks' do %>
    <% @tasks.each do |task| %>
      <%= content_tag :li, class: 'col s12 m6' do %>
        <div class="card">
          <div class="card-content">
            <%= content_tag :span, class: 'card-title activator grey-text text-darken-4' do %>
              <%= task.title %>
              <%= content_tag :i, 'more_vert', class: 'material-icons right' unless task.description.nil? %>
            <% end %>
            <%= content_tag :p, "Due date: #{task.due_date}" unless task.due_date.nil? %>
          </div>
          <%= content_tag :div, class: 'card-reveal' do %>
            <%= content_tag :span, class: 'card-title grey-text text-darken-4' do %>
              <i class="material-icons right">close</i>
            <% end %>
            <%= content_tag :p, task.description %>
            <% end unless task.description.nil? %>
            <div class="card-action">
              <%= content_tag :p, link_to('Mark as done', mark_task_path(task), { method: :put }) %>
              <%= content_tag :p do %>
                <%= link_to 'Edit task', edit_task_path(task) %>
              <% end %>
              <%= content_tag :p do %>
                <%= link_to 'Delete', task, { method: :delete } %>
              <% end %>
            </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
