<div class="row">
  <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <%= link_to 'Logo', root_path, { class: 'brand-logo' } %>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li>
            <%= link_to 'New task', new_task_path %>
          </li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">Javascript</a></li>
          <li><a href="mobile.html">Mobile</a></li>
          <li><%= link_to_if(current_user, 'Log out', { controller: 'devise/sessions', action: 'destroy' }, { method: :delete }) %></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li>
            <%= link_to 'New task', new_task_path %>
          </li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">Javascript</a></li>
          <li><a href="mobile.html">Mobile</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
