<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header_navbar' %>
    <div class="container">
      <div class="row">
        <%= content_tag :p, flash[:notice] %>
        <%= content_tag :p, flash[:alert] %>
        <%= content_tag :p, notice %>
        <%= content_tag :p, alert %>
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
